.nav__link {
  margin-right: 20px;
  text-decoration: none;
  transition: color, 0.5s;
  color: #000000;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
}
.nav__link:last-of-type {
  margin-right: 0;
}
